@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="books-table" class="table table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
@section Scripts{

    <script>
        const table = $("#books-table");
        
        $(document).ready(function () {
            table.DataTable({
                ajax: {
                    url: 'api/books',
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='books/details/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-secondary js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
        
        $(document).ready(function () {
            table.on("click", ".js-delete", function () {
                const button = $(this);
                bootbox.confirm({
                    message: "Do you confirm action?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/api/books/' + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}